.product__header {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-size: 4rem;
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.products {
    display: flex;
    flex-direction: column;
    border: 50px dotted rgb(242, 173, 219)
}

.product {
    background-color: rgb(201, 250, 193);
    padding: 0.7rem;
    margin: 0.5rem;
    border-radius: 40px;
    text-align: center;
    font-family: sans-serif;
}

.centered-button {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  
.findCandy {
    display: flex;
    flex-direction: column;
    border: 25px dotted rgb(241, 66, 183);
    text-align: center;
    align-items: center;
    padding: 20px;
  }

  .name {
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    font-weight: bold;
  }

  .button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Add margin if needed */
  }
  
  .btn_topPriced,
  .btn_createNewProduct {
    /* Add your button styles */
    /* Example styles: */
    padding: 10px 20px;
    margin: 0 10px;
  }
  